html{
  overflow: hidden;
}
*{
    font-family: 'poppins';
  }
  
body{
    background-size : cover;
    background-repeat: no-repeat;
    position:static;
    min-height: 100vh;
    background-position: center;
    background-color: #0E111A; 
  } 
nav{
    display: flex; 
    padding: 1% 6%; 
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    height : 50px;
    position: fixed;
    top: 0;
    background-color: white; 
  }
.logo img{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 60%;
    height:auto;
  }
.navlinks{
    flex: 1;
    text-align: right;
    font-weight: 1000;
   
  }
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;
    position: relative;
    vertical-align: middle; 
  }
.navlinks ul li.curvedbg{
    padding-bottom: 20px;
  }
.navlinks ul li::after{ 
    content: '';
    width: 0%;
    height: 2px;
    background:  #3498db;
    display: block;
    margin: auto;
    transition:0.12s;
  }
.navlinks ul li.curvedbg:hover::after{
    width: 100% ;
  }
  div a{
    font-size: 18px;
  }
  a:hover{ 
    color: #0A0B10;
    text-decoration: none;
  }
  a:visited{
     color: #0A0B10;
    text-decoration: none;
  }
  a:active{
     color: #0A0B10;
    text-decoration: none;
  }
  a:link{
    color: #0A0B10;
    text-decoration: none;
  }
  .text{
    width: 100%;
    height :100vh;
    padding-top: 100px;
    background-color: #0E111A;
    text-align: center;
    z-index: 2;
  }
 .maintext {
    position: fixed;
    width: 85%;
    height :65%;
    text-align: justify;
    z-index: 2;
    margin-left: 75px;
    margin-right: 20px;
    color:#ccc;
    padding: 10px 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease; /* Adjusted bottom spacing */
  }
  .maintext.showtext{
    opacity: 1;
    visibility: visible;
  }
  .maintext::-webkit-scrollbar {
    width: 12px;
  }

  .maintext::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

  .maintext::-webkit-scrollbar-thumb {
    background: #4d4d4d;
  }
.maintext::-webkit-scrollbar-thumb {
    border-radius: 4px;
    padding:4px 4px;
  }
.roles{
  position :fixed;
  right:0px;
  width:300px;
  height:100vh;
  margin-top: 50px;
  background-color: #0A0B10;
}
body, nav {
    margin: 0;
    padding: 0;
  }
.settings {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
  }
.settings:hover {
    background-color: #3498db; 
    border-radius: 50%;
  }
.settings img {
    align-self: center;
    width: 80%;  
    height: auto; 
  }
.settings-window {
    position: fixed;
    width : 250px;
    height:75vh;
    overflow-y: auto;
    top:40px ;
    right:0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 10;
}
.settings-window.show-settings {
    display: block;
    opacity: 1;
}
.settings-window .menu {
    width:100%;
}
.settings-window .menu .item{
    position: relative;
    cursor: pointer; 
}
.settings-window .menu .item a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding:5px 30px;
    line-height: 30px;
} 

.settings-window .menu .item :hover{
  background-color: #3498db;
}
.settings-window .menu .line{
  height: 1px;
  background-color: #0A0B10;
}
.settings-window .menu .censor{
  position: relative;
  display:flex;
  cursor: pointer;
  align-items: center; 
}
.settings-window  .menu .censor a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding:5px 30px;
  line-height: 30px;

}
.settings-window .menu .censor .toggle-switch {
  margin-left: auto;
  margin-right: 10px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height:17px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 12px;
  /* padding:1px 1px; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width:18px;
  top:0;
  left:0;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
#one{
  margin-top: 10px;
  padding-bottom: 5px;
}
#three{
  padding-top: 5px;
}
.role {
  font-size: 15px;
  display: block;

  color: #fff;
  width:100%;
} 
.role h4{
  padding-left: 30px;
}

.role :hover{
background-color: #0E111A;
}
.head{
  color:#fff;
  text-align: center;
  padding-top: 10px;
  font-size: 34px;
}
.roles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin: 60px 10px;
    background-color: #0E111A;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
.roles:hover {
    background-color: #3498db;
    border-radius: 50%;
  }
.roles img {
    align-self: center;
    width: 50%; 
    height: auto; 
  }
.roles-window {
    position: fixed;
    width : 350px;
    height:80vh;
    overflow-y: auto;
    top:100px ;
    right:0px;
    background-color: #0A0B10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 10;
}

.roles-window.show-roles {
    display: block;
    opacity: 1;
}
.roles-window .menu {
    width:100%;
}
.roles-window .menu .item{
    position: relative;
    cursor: pointer; 
    padding-top: 10px;
}
.roles-window .menu .item a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding:5px 30px;
    line-height: 30px;
    color:#fff
} 

.roles-window .menu .item :hover{
  background-color: #3498db;
}
.roles-window .menu .item .selectrole{
  background-color: #0E111A;
}
.menu .btn{
  display: inline-block;
  color:#fff;
  border-radius: 20px;
  border: 2px solid #fff;
  padding:12px 34px;
  margin-top: 70%;
  margin-left: 95px;
  margin-bottom: 15px;
  align-self: center;
  font-size: 16px;
  background: transparent;
  position: relative;
}
.menu .btn:hover{
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
}
.add-roles-window {
  position: fixed;
    width: 300px;
    height: auto;
    background-color: #0A0B10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.add-roles-window input {
  width: 80%;
  height:30px;
  border-radius: 10px;
  margin-left: 28px;
  background-color: #0E111A;
  border: none;
  margin-top: 20px;
  color: #fff;

}

.add-roles-window .add {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border:none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 150px;
  margin-top:10px;
  margin-bottom: 10px;
}
.add-roles-window .cancel {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #0E111A;
}
.roles-window::-webkit-scrollbar {
  width: 12px;
}

.roles-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.roles-window::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}
.roles-window::-webkit-scrollbar-thumb {
  border-radius: 4px;
  padding:4px 4px;
}

#moveButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(206, 1, 1);
  border:none;
  z-index: 15;
  border:15px solid #fff;
  transition:border 0.22s ease, transform 1s ease, height 1s ease,width 1s ease;
}

#moveButton.moved{
  transform: translate(-600px, +240px);
  height: 50px;
  width: 50px;  
}
#moveButton.stop{
  border:5px solid #fff;
}

#moveButton.start{
  border:15px solid #fff;
}
.textbox {
  width: 84%;
  left:85px;
  height: 70px; /* Adjusted height for better visibility */
  position: absolute; /* Added position property */
  bottom: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease; /* Adjusted bottom spacing */
}
.textbox.show{
  opacity: 1;
  visibility: visible;
}
.textbox input {
  width: 93%;
  height: 100%;
  border:none;
  background-color: #0E111A;
  border-radius: 20px;
  border:1px solid #bbb;
  color: #fff;
  padding: 0 10px;
  margin-left:60px;
}

/* Media query for 1080p screens */
@media (min-width: 1920px) {
  .curvedbg a
  {
    font-size: 36px; /* Adjust font size for larger screens if needed */
  }
  .logo img 
  {
    width: 120%; /* Adjust logo size for larger screens */
  }
  nav 
  {
    height: 100px; /* Adjust navigation bar height for larger screens */
  }
  .navlinks ul li 
  {
    padding: 20px 20px;
    font-size: 36px; /* Increase padding for navigation links */
  }
  .navlinks ul li::after
  { 
    height: 4px;
  }
  .maintext 
  {
    position: fixed;
    width: 85%;
    height :65%;
    font-size: 32px;
    text-align: justify;
    z-index: 2;
    margin-left: 150px;
    margin-right: 40px;
    color:#ccc;
    padding: 20px 20px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease; /* Adjusted bottom spacing */
  }
  .maintext.showtext
  {
    opacity: 1;
    visibility: visible;
  }
  .maintext::-webkit-scrollbar {
    width: 24px;
  }
  .maintext::-webkit-scrollbar-thumb {
      border-radius: 4px;
      padding:8px 8px;
  }  
  .text{
    width: 100%;
    height :100vh;
    padding-top: 200px;
  }

  .roles {
    width: 80px;
    height: 80px;
    margin: 120px 20px;
  }

  .roles img {
      width: 50%; /* Adjust roles button image size for larger screens */
  }

  .settings{
      width: 60px;
      height: 60px;/* Adjust settings icon size for larger screens */
  }

  .settings-window {
      width: 500px;
      top:80px; /* Adjust settings window width for larger screens */
  }

  .settings-window .menu .item a {
      font-size: 30px; /* Adjust font size for settings window items */
      padding: 20px 60px; /* Adjust padding */
  }

  .settings-window .menu .censor a {
    font-size: 30px; /* Adjust font size for settings window items */
    padding: 20px 60px;/* Adjust padding */
  }
  .settings-window .menu .line{
    height: 2px;
  }
  .settings-window .menu .censor .toggle-switch {
    margin-left: auto;
    margin-right: 20px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height:34px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    height: 36px;
    width:36px;
    top:0;
    left:0;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  input:checked + .slider:before {
    transform: translateX(28px);
  }
  .roles-window {
    position: fixed;
    width : 700px;
    height:80vh;
    overflow-y: auto;
    top:200px ;
    right:0px;
    background-color: #0A0B10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
    border-radius: 20px;
    z-index: 10;
  } 
  .roles-window .menu .item a {
    font-size: 30px; /* Adjust font size for roles window items */
    padding: 20px 60px; /* Adjust padding */
  }

  .roles-window .menu .btn {
      margin-top: 10%; /* Adjust margin-top for roles window button */
      margin-left: 200px; /* Adjust margin-left for roles window button */
  }

  .add-roles-window {
      width: 700px;
      height:auto;
      border-radius: 20px;
  }

  .add-roles-window input {
      width: 80%;
      height:60px; /* Adjust input width in add roles window */
      margin-left: 56px;
      font-size: 32px;
      border-radius: 10px;
      margin-left: 56px;
      margin-top: 40px; /* Adjust margin-left */
  }
  .add-roles-window .add {
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 340px;
    margin-right: 10px;
    margin-top:20px;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .add-roles-window .cancel {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 32px;
  }
  .roles-window::-webkit-scrollbar {
    width: 24px;
  }
  .roles-window::-webkit-scrollbar-thumb {
    padding:8px 8px;
  }
  .menu .btn{
    border-radius: 40px;
    border: 4px solid #fff;
    padding:24px 68px;
    margin-top: 70%;
    margin-left: 190px;
    margin-bottom: 30px;
    font-size: 32px;
  }
  .menu .btn:hover{
    border: 4px solid #3498db;
  }
  #moveButton{
    width: 300px;
    height: 300px;
    padding: 0;
    border:30px solid #fff;
    transition:border 0.22s ease, transform 1s ease, height 1s ease,width 1s ease;
  }
  #moveButton.moved{
    transform: translate(-1110px, +560px);
    height: 100px;
    width: 100px;  
  }
  #moveButton.stop{
    border:10px solid #fff;
  }
  #moveButton.start{
    border:30px solid #fff;
  }
  .textbox {
    width: 84%;
    left:170px;
    height: 140px; /* Adjusted height for better visibility */
    bottom: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease; /* Adjusted bottom spacing */
  }
  .textbox input {
    width: 93%;
    height: 100%;
    border:none;
    font-size: 32px;
    background-color: #0E111A;
    border-radius: 20px;
    border:2px solid #bbb;
    color: #fff;
    padding: 0 20px;
    margin-left:120px;
  }
}